*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
*::before, *::after{box-sizing: border-box;}

body{
    height: 100vh;
    /*background-image: url("./jay.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position-y: center;*/
    /*background-size: contain;*/
}

main{
    display:flex;
    align-items: flex-start;
    /*height: 100vh;*/
    /*border:5px solid black;*/
    /*background-image: url("./jay.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position-y: center;*/
    /*background-size: contain;*/
}

canvas{
    /*width: 750px;*/
    /*background-color:black;*/
    /*border:10px solid white;*/
}

#tools{

}

.content{
    width: 755px;
    background-color:black;
}
