*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
*::before, *::after{box-sizing: border-box;}

body{
    height: 100vh;
    /*background-image: url("./jay.png");*/
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

main{
    /*height: 100vh;*/
    /*border:5px solid black;*/
    /*background-image: url("./jay.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position-y: center;*/
    /*background-size: contain;*/
}


#canvas{
    /*background-color:black;*/
    /*border:10px solid white;*/
}

.tools{
    /*position:absolute;*/
    /*left:5px;*/
    /*top: 5px;*/
}

.content{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border: 5px solid blue;*/
}