*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
*::before, *::after{box-sizing: border-box;}

/*屏幕宽度大于1024上下布局*/
@media screen and (max-width: 1024px) {
    main{
        background-color:blue;
        display:flex;
        flex-direction: column;
    }
}

/*屏幕宽度小于1024左右布局*/
@media screen and (min-width: 1025px) {
    main{
        background-color: yellow;
        display:flex;
        align-items: flex-start;
        height: 100vh;
    }
}

#buttons{
 text-align: center;
}

.content{
    text-align: center;
    background-color:gray;
}

#showCode{
    border: 5px solid red;
    overflow: hidden;
    /*position: fixed;*/
    /*top:0;*/
    height: 180px;
}

#demo{
    display: none;
}